main {
  flex: 1;
  padding-bottom: 4rem;
  font-size: 1.3rem;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  margin: 0;
  line-height: 1.6;
  background: #1a1a1a;
  color: #f0f0f0;
}

header {
  background: #333;
  padding: 1rem;
  text-align: center;
}

footer {
  background: #333;
  padding: 1rem;
  text-align: center;
  height: 7rem;
}

h1, h2{
  color: #ffcc00;
}

h3 {
  color: #ffcc00;
  font-size: 1.5rem

}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  font-size: 3rem;
  margin: 0 1rem;
}

a {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffcc00;
}

img {
  display: block;
  float: left;
  max-width: 50%;
  margin-left: 0rem;
  margin-right: 5rem;
  border-radius: 10px;
  transition: transform 0.5s ease;
  transition: opacity 0.5s ease-in-out;
}

img:hover {
  transform: scale(1.05);
}


/* ---- Навигация в шапке ---- */
.navigation {
  background-color: #000000;
  padding: 1rem 0;
  border-bottom: 1px solid #444444;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

/* ссылки в навигации */
.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  border-radius: 25px;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}

.nav-link:hover {
  color: #ffcc00;
  border-color: #ffcc00;
}

/* активная ссылка */
.nav-link.active {
  background-color: #ffcc00;
  color: #000000;
  border-color: #ffcc00;
}


@media (max-width: 768px) {
  main {
    padding-bottom: 0.5rem;
  }

  h3 {
    font-size: 1.2rem
  }

  img {
    margin: 0 auto;
    float: none;
    max-width: 70%;
  }

  nav ul li {
    font-size: 1.5rem;
  }

  .nav-list {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .nav-link {
    display: block;
    width: 100%;
    text-align: center;
  }
}


@media (min-width: 1024px) {
  main {
    max-width: 900px;
    padding: 1rem;
  }
}